
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;900;1,100..700&display=swap'); */

/* root colors  */
:root{
  --main-color:#38b6ff;
  --bg-color:#ffffff;
  --supporting-color:#f9f3ec;
  --para-color:#504e4d;
  --hero-para-color:#ffff;
  --font-color:#424242;
  --heading-color:#7e4b21;
  --h-color:#6e4525;
  --btn-bg-color:#A0704A;
  --btn-hover-bg-color:#ecd8b1;
  --btn-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

/* base rule  */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
}
body{
  margin: auto;
  width: 100vw;
  height: 100vh;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Poppins", sans-serif;
}
p,li,a,label{
  font-family: "Urbanist", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
}


/* module reuseable  */
.btn{
  display: inline-block;
  /*border: 1px solid red;
  *//*font-size:4rem;
  *//*font-weight: 700;
  */padding: 1.2rem 3.2rem;
  background-color: var(--btn-bg-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--bg-color);
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}
.btn:hover{
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
}
.head-container{
  padding: 0 2.4rem 0 2.4rem;
  /* border: 1px solid red ; */
}
.common-heading{
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--h-color);
}
.common-tittle{
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--heading-color);
  padding: 3rem 0 2rem 0;
}

/*section-one  navbar start  */
.section-one{
background-color: var(--supporting-color);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
position: sticky;
top: 0;
z-index: 2;
overflow: hidden;
}

.section-one .nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}
.nav-container .navbar ul{
  display: flex;
  gap: 3.2rem;

}
.navbar ul li a{
  font-weight: 700;
  color: var(--heading-color);
 

  &:hover{
      color: var(--main-color);
      text-decoration: underline;
  }
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  color:var(--h-color);
  cursor: pointer;
}

.sidebar{
  display: none;
}
/* Responsive Design */
@media(max-width:768px){
  
  .hamburger {
    display: block;
  }
  .navbar{
    display: none;
  }

  /* Sidebar Styles */
.sidebar .active{
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  padding-top: 60px;
  z-index: 1000;
  right: 0;
  display: block;
  color: var(--h-color);
  background-color:#ebb77c;
  transition: right 0.3s ease;
}

.sidebar.active {
  right: 0;
  display: block;
  color: var(--h-color);
  background-color:#ebb77c;
  transition: right 0.3s ease;

}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.nav-item a {
  color: var(--h-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nav-item a:hover {
  color: #ddd;
}


}
/*section-one navbar End */

/* hero section start */

.section-two{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f3ec;
  background-image: linear-gradient(79deg, #E79B44 0%, #F1DAC1 100%);    
  /* padding: 5.6rem; */
  position: relative;
  /* border: 1px solid green; */

}

.hero-grid{
  display: grid;
  gap: 2.6rem;
  grid-template-columns: repeat(2,1fr);
  /* align-items: center; */
  padding: 4rem;
  /* border: 1px solid red; */
}
.heading{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 3.3rem;
  font-size: 2rem;
  word-spacing: 0.1rem;
  color: var(--heading-color);
  font-weight: 700;
  margin: 1.5rem 0 2.2rem 0;
}
.big--heading{
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: var(--heading-color);
}
.para--hero{
  letter-spacing: 0.2rem;
  word-spacing: 0.1rem;
  line-height:2.1rem;
  color: var(--supporting-color);
  margin: 2rem 0 4rem 0;
}
.right-hero img{
  width: 100%;
  height: auto;
}

/* hero section End */

/* section--3 start  */
.section-one,.section-two{
  margin:auto ;
  padding: 2.2rem;
}
.section-3,.section-4,.section-5,.section-6,.section-7{
  /* scroll-snap-align: center; */
  /* margin: 4.4rem 5.4rem 0 5.4rem; */
  max-width: 142rem;
  margin: 0 auto;
  padding: 5rem 2.4rem;
}
.service-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 4rem;
  padding: 4rem ;
}
.service-div{
 text-align: center;
}

.service-icon img{
  width: 15.5rem;
  height: auto;
  padding: 2.4rem;
  background-color: var(--supporting-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.service-icon img:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background-color: var(--btn-hover-bg-color);
}

/* section--3 end  */

/* course section-4 start  */
.course-grid{
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(auto-fit);
  padding: 4rem;
}

.course-div .icon .fa-solid{
  width: 7.5rem;
  height: auto;
  padding:2rem ;
  font-size: 2.4rem;
  /* border: 1px solid red; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.course-div:nth-child(1) .icon .fa-solid {
  color: #0654b9;
  background-color: #b9c9eb;
}
.course-div:nth-child(2) .icon .fa-solid {
  color: #68bf9b;
  background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid {
  color: #ff8b52;
  background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid {
  color: #183d3d;
  background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid {
  color: #d988b9;
  background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid {
  color: #ff9b50;
  background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid {
  color: #1450a3;
  background-color: #dce9fa;
}
.course-div{
  padding: 3rem;
  /* border: 1px solid red; */
  &:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10%;
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      -ms-border-radius: 10%;
      -o-border-radius: 10%;
}
}
/* course section-4 end  */

/* blog section-5 start  */
.card img{
  width: 100%;
  height: auto;
}
.card{
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;

  &:hover{
      scale: 1.1;
  }
}
.blog-content{
  margin: 2rem;
}
.blog-date{
  display: flex;
  justify-content: space-between;
  margin:2.2rem 2rem 0 2rem ;
}
.blog-date i{
  color: var(--heading-color);
  font-size: 2.2rem;
}
/* blog section-5 end  */

/* about section-6 start  */
.about-grid{
  display: grid;
  padding: 4rem 6rem 0 6rem;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
}
.highlight{
  width: 5rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--btn-bg-color);
  background-color: #e7c29f;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about-div{
  margin:3.2rem 0 ;
}
.left-colume .about-div {
  text-align: right;
}
.left-colume .about-div .highlight{
  margin-left:85% ;
}
.mid-colume img{
  width: 75%;
  height: auto;
}
.mid-colume, figure{
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.mid-colume figure::before,
.mid-colume figure::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      background-color: var(--btn-bg-color);
      width: 33rem;
      aspect-ratio: 1;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      z-index: -1;
}
.mid-colume figure::after{
  width: 36rem;
  aspect-ratio: 1;
  background-color:transparent;
  z-index: -2;
  border: 0.3rem solid var(--heading-color);
}
/* animation part here */
.mid-colume figure::before{
  animation: circle 3s linear infinite ;
  -webkit-animation: circle 3s linear infinite ;
}
@keyframes circle{
  0% {
      background-color: #e9d5c2;
    }
    25% {
      background-color: #ffc880;
    }
    50% {
      background-color: #e28307;
    }
    75% {
      background-color: #e69a6f;
    }
    100% {
      background-color: #b16209;
    }
}
/* about section-6 end  */

/* contact section-7 start  */

.con-center{
  width: 70%;
 margin: 0 auto;
 /* background-color: #017ec7; */
}

.contact-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2.2rem;
  /*place-items: center;*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  background-color:var(--supporting-color);
  position: relative;
  bottom: -8rem;
  z-index: 1;
}
.contact-title {
  font-size: 3rem;
  line-height: 1.2;
}
.startnow .fa-solid {
  /* padding: 0; */
  color: var(--supporting-color);
}
.startnow p{
  margin: 1.2rem 0 2.2rem 0;
}
/* contact section-7 end  */

/* footer section start  */
.footer-big{
  background-color: var(--h-color);
  padding: 10rem 3rem 2rem 3rem;
}
.footer-big p{
  color: var(--supporting-color);
}
.footer{
  display: flex;
  gap: 5rem;
  /* background-color: var(--h-color);
  padding: 3rem; */
}
.footer-1--div p{
  font-weight: 500;
  color: var(--supporting-color);
}
.social-icon{
  padding: 1.5rem;
  display: flex;
  gap: 2.2rem;

}
.social-icon .fa-brands{
  width: 4rem;
  aspect-ratio: 1;
  /*border:3px solid red ;
  */font-size: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-bg-color);
  background-color: var(--supporting-color);
  transition: all 0.4s linear ;
  -webkit-transition: all 0.4s linear ;
  -moz-transition: all 0.4s linear ;
  -ms-transition: all 0.4s linear ;
  -o-transition: all 0.4s linear ;

  &:hover{
      rotate: 360deg;
      color: var(--supporting-color);
      background-color: var(--h-color);

  }
}
.footer-subheading{
  font-size: 2rem;
  font-weight: 700;
  color: var(--supporting-color);
}
.footer-2--div ul li a{
  color: var(--supporting-color);
}
.footer-3--div p{
  font-weight: 500;
  color: var(--supporting-color);
  line-height: 2.4rem;
}
/* footer section end  */

/* contact page start  */
.contact-form-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
  align-items: center;
  /* border: 5px solid rgb(39, 14, 129); */
  padding: 4.4rem 2.4rem ;
}
.form-1--div{
  display: flex;
  width: 65rem;
  justify-content: space-between;
  align-items: center;

}
.mb-3{
  margin-bottom: 2.3rem;
}
label{
  display: block;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
input:focus-visible, textarea:focus-visible{
  outline: 1px solid var(--main-color);
}
input, textarea{
  width: 100%;
  padding: 1.4rem 2.4rem;
  font-size: 1.7rem;

  ::placeholder{
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
  }
}
.form-4--div button{
  border: none;
  font-size: 1.7rem;
}
/* contact page end  */

/* side scrollbar change start  */
::-webkit-scrollbar{
  width: 1rem;
}
::-webkit-scrollbar-track{
  background-color: var(--supporting-color);
}
::-webkit-scrollbar-thumb{
 background-color: var(--heading-color);
 border-radius: 5rem;
 -webkit-border-radius: 5rem;
 -moz-border-radius: 5rem;
 -ms-border-radius: 5rem;
 -o-border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--main-color);
}
/* side scrollbar change end  */

/* media queries start  */
@media(width <=1400px){
  html{
      font-size: 56.25%;
  }
  .hero-grid{
      width: 90%;
  }
}
@media (width <= 1220px) {
  html{
      font-size: 54%;
  }
  
}
@media (width<=1100px){
  .course-grid{
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }
}
@media (width<=998px) {
  .left--hero{
      order: 2;
  }
  .hero-grid, .about-grid{
      grid-template-columns: 1fr;
      gap: 2rem;
  }

  .mid-colume img{
      width: 60%;
      height: auto;
  }
  .left-colume .about-div {
      text-align: left;
  }
  .left-colume .about-div .highlight{
      margin-left:2% ;
  }
  #productContainer{
    grid-template-columns: repeat(1,1fr);
  }

}
/* media queries end  */

/* product for webdog start  */

#productContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 5rem 2.4rem;

  & .information{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem;
    /* border: 1px solid red; */
  }
}
.productName{
  font-size: 2.2rem;
  /* border: 1px solid black; */
}
.category{
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--btn-hover-bg-color);
  padding: 0.3rem 1.2rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}
.productPrice{
  font-size: 1.8rem;
  font-weight: 500;
}
.productActualPrice{
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration:line-through;
}
.productImage{
  width: 20rem;
  height: auto;
}
.imageContainer{
  /* border: 1px solid red; */
  width: 25rem;
  margin: auto;
  padding:1rem;
}
.productPriceElement, 
.productQuantityElement, 
.productStockElement {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
.productPriceElement {
  margin: 0.8rem 0;
}
.productProperty,
.productDescription {
  font-size: 1.6rem;
}
.stockElement{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  border: 0.2rem solid var(--btn-bg-color);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  margin: 0.8rem 0;
  
  & button{
    background-color: transparent;
    color: var(--btn-bg-color);
    font-size: 2rem;
    padding: 0.6rem 2rem;
    font-weight: bold;
    border: none;

    &:hover{
      cursor: pointer;
    }

    &:first-child{
      border-right: 0.1rem solid var(--btn-bg-color);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    &:last-child{
      border-left: 0.1rem solid var(--btn-bg-color);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
}
.productQuantity{
  padding: 0rem 3rem;
  margin: 0;
  font-weight: bold;
}
}
.fa-star{
  color: #f7ba33;
}
.add-to-cart-button{
  cursor: pointer;
  color: var(--supporting-color);
  font-size: 2rem;
  background-color: var(--btn-bg-color);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: var(--btn-bg-color);
}
/* product for webdog end */

/* Cart page start  */


.totalBill{
 margin-left: 60%;
}
.productCartTotal{
  border: 1px solid black;
  width: 30rem;
  height: auto;
  padding: 2rem;

  & p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.5rem;
  }
}

.productOrderTotal,
.productTax,
.productFinalTotal{
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

#productCartContainer{
  max-width: 110rem;
  margin: 0 auto;
  padding: 5rem 2.4rem;

  & #info{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

/* Cart page end  */
/* ///////////////////////////////////////////////// */

.shapedividers_com-7108{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-7108::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 90px;
  background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2224 79"><g fill="%237e4b21"><path d="M1294 36a292 292 0 01-33 43H601a413 413 0 01-18-43 18 18 0 010-6 24 24 0 017-13 29 29 0 0113-8c12-3 25 0 36 5l11 6a159 159 0 0017 6l6 2a62 62 0 0017 2 63 63 0 0010-1 65 65 0 0014-4 61 61 0 0010-6c8-6 16-14 26-14 9 0 17 7 24 12l6 4a93 93 0 0014 7 102 102 0 0057 5 97 97 0 0021-7 90 90 0 0015-8c6-5 12-10 18-13s14-6 22-4c6 1 11 7 12 13 1-6 6-12 12-13 7-2 15 0 21 4l18 13a94 94 0 0035 15 53 53 0 005 1 103 103 0 0014 1 103 103 0 0022-2 94 94 0 0037-16l8-5c5-4 11-7 17-7 5 0 10 3 15 6l10 8a64 64 0 0037 11 52 52 0 006 0 61 61 0 008-2 78 78 0 009-2l25-12c12-5 24-8 36-5a29 29 0 0112 7c6 5 9 12 8 20z" style="isolation:isolate" opacity=".5"/><path d="M1460 52l-2 2a91 91 0 01-21 25H815a91 91 0 01-18-20 76 76 0 01-4-7c-4-8-3-17 1-24a33 33 0 0114-14 40 40 0 0113-3c11-2 22 1 32 5a173 173 0 0119 10l7 4 15 8a132 132 0 0021 9 141 141 0 0046 6 138 138 0 0059-16l7-4c10-6 20-13 31-18 13-7 28-11 42-8a37 37 0 0111 5c8 5 15 14 15 25 0-11 7-21 17-26a36 36 0 019-4c15-3 29 1 42 8l19 11 13 7 6 4a137 137 0 0052 15 142 142 0 0029 0 138 138 0 0030-7 133 133 0 0016-7l18-10 10-6a137 137 0 0119-8c13-4 26-5 38 0a33 33 0 0116 17l1 2a24 24 0 01-1 19z" style="isolation:isolate" opacity=".6"/><path d="M659 40l-4 9c-5 8-14 18-25 30H0V37a97 97 0 0038 0 89 89 0 0036-14l17-13c6-4 13-5 20-3 6 1 11 6 11 12 1-6 6-11 12-12 7-2 14 0 20 3s11 9 17 13a83 83 0 0010 6 93 93 0 0043 10 93 93 0 0043-10 83 83 0 0010-6l17-13c6-4 13-5 20-3 6 1 11 6 11 12 1-6 6-11 12-12 6-2 14 0 20 3s11 9 17 13a89 89 0 0036 14c24 5 50 0 70-15 6-4 13-10 20-11a18 18 0 013 0c7 0 13 5 19 9l5 4a61 61 0 0048 9 73 73 0 008-3l16-7 8-4a55 55 0 0134-4 27 27 0 019 5 25 25 0 018 10 18 18 0 011 10z" style="isolation:isolate" opacity=".5"/><path d="M852 46a21 21 0 01-2 6 91 91 0 01-23 27H0V15c13 6 24 15 37 22h1l9 5a139 139 0 0022 7 139 139 0 0024 3 138 138 0 0015 1 139 139 0 0048-11 130 130 0 0025-13l23-13a74 74 0 0120-5 74 74 0 0120 5l23 13 17 9 8 4a139 139 0 0047 11 138 138 0 0016-1 139 139 0 0046-11l9-4h1c12-7 24-16 37-22s28-11 42-8a36 36 0 0110 4c8 5 14 13 16 21a23 23 0 010 5 23 23 0 011-4 28 28 0 015-13 37 37 0 0121-13c14-3 29 1 42 8a124 124 0 0114 8l23 14a132 132 0 0017 7 138 138 0 0016 5c29 7 61 4 89-8l5-3 31-17 9-5c10-4 22-7 32-6a40 40 0 0113 4 33 33 0 0117 19 26 26 0 011 13z" style="isolation:isolate" opacity=".6"/><path d="M0 38a12 12 0 010 4 12 12 0 010-4zM2049 38a16 16 0 010 2 417 417 0 01-30 39h-622l-12-26a57 57 0 01-4-13 17 17 0 010-7 23 23 0 016-11 27 27 0 0113-7 33 33 0 016-1c10-1 19 2 27 5l27 12a47 47 0 005 2 60 60 0 0048-9c8-6 15-13 24-13a22 22 0 0111 3l13 8 3 3a83 83 0 009 5 89 89 0 0013 5 95 95 0 0068-5 85 85 0 0013-7l17-13c6-4 13-5 20-3 5 1 10 6 11 12 1-6 6-11 12-12 6-2 14 0 20 3s11 9 17 13a89 89 0 0032 14 96 96 0 0053-4l7-3a85 85 0 0014-8l10-7c4-2 8-4 13-4s9 2 13 5l11 8a60 60 0 0048 9 78 78 0 0012-4c7-3 13-7 20-9 11-5 22-8 34-5 10 2 19 12 18 23z" style="isolation:isolate" opacity=".5"/><path d="M0 42a12 12 0 010-4 12 12 0 010 4zM2224 34v45H1039v-1l-1 1H345v-1l-1 1H0V53a65 65 0 0015-5 64 64 0 0042 5 83 83 0 0012-4l14-7 8-3c9-4 19-7 28-7 10 0 20 3 29 7l8 3 26 11a64 64 0 0042-5 64 64 0 0042 5l26-11 8-3c11-5 24-9 36-5a29 29 0 0111 6 29 29 0 0112-6c12-4 24 0 36 5l6 2c9 5 18 9 28 12a64 64 0 0051-10c8-5 16-13 25-13a23 23 0 0111 2l1 1 13 9c18 12 40 18 61 17a97 97 0 0048-15l4-2 15-12h1l2-1a40 40 0 016-3c5-1 10-2 15-1a18 18 0 018 5 15 15 0 014 8 15 15 0 016-9 17 17 0 016-4 22 22 0 018 0 34 34 0 0114 4c6 3 11 8 16 12l2 1a97 97 0 0051 17 99 99 0 0055-13l7-4c6-5 12-10 20-12a19 19 0 014 0c10 0 18 8 26 13a62 62 0 006 4 65 65 0 0045 6l1-1c11-3 22-9 33-13 10-5 21-8 31-6h5v1a28 28 0 019 4 28 28 0 015-3 27 27 0 013-2 42 42 0 0119 0 81 81 0 0117 6c11 4 22 11 34 14a64 64 0 0051-10c7-5 14-11 22-13a19 19 0 014 0 18 18 0 012 0 28 28 0 0112 4l10 8 7 4a99 99 0 0053 13 100 100 0 0036-7 92 92 0 0017-10l2-1c5-4 10-9 16-12 7-4 14-6 22-4a18 18 0 0110 8 14 14 0 012 5c1-6 6-11 12-13 7-2 15 0 21 4l18 13 4 2a92 92 0 0020 10c30 10 64 6 89-12l13-9 1-1a23 23 0 0111-2 7 7 0 011 0c5 0 9 2 13 5l11 8a64 64 0 0051 10l28-11 6-3c11-5 23-8 34-6 11-2 23 1 34 6l19 9a90 90 0 0015 5 64 64 0 0051-10l14-10a27 27 0 017-3 20 20 0 014 0c10-1 18 6 25 12l7 4 4 2a100 100 0 00104-7c5-4 10-9 16-12 7-4 14-6 21-4 6 2 11 7 12 13a3 3 0 001 0c0-6 6-11 12-13 7-2 15 0 21 4l18 13 4 2c32 21 77 20 109-2l10-8z"/><path d="M1896 48a22 22 0 01-2 4 91 91 0 01-22 27h-622a91 91 0 01-23-27 21 21 0 01-2-6 26 26 0 011-13 33 33 0 0117-19c13-6 29-4 43 2h2c14 6 26 16 40 22a141 141 0 0015 7 140 140 0 0042 8 141 141 0 0053-9 131 131 0 0017-7 202 202 0 008-5l29-17c13-7 28-11 42-8a37 37 0 0114 7c6 5 11 11 12 19a24 24 0 011 4 23 23 0 010-5 26 26 0 013-7c4-9 13-15 23-18 14-3 29 1 42 8 9 4 17 10 25 15l12 7 10 5a137 137 0 0020 6 142 142 0 0042 5 140 140 0 0031-5 133 133 0 0024-10l3-1c13-7 25-15 38-21 14-6 30-8 44-2l2 1a33 33 0 0114 15 26 26 0 012 18z" style="isolation:isolate" opacity=".6"/><path d="M2224 25v54h-307a91 91 0 01-23-27 21 21 0 01-2-6 27 27 0 012-16 33 33 0 0112-14 28 28 0 014-2c14-6 30-4 44 2l23 12 18 10 5 3a138 138 0 0042 11 142 142 0 0063-8 131 131 0 0017-7c12-7 24-16 37-22s28-11 42-8c10 2 19 9 23 18z" style="isolation:isolate" opacity=".6"/></g></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-7108::before{
  background-size: 100% calc(2vw + 90px);
  }
  }
   
  /* ///////////////////////////// */
  @media (width <= 768px) {
    .section-two{
      height: 80rem;
    }
  
    .hero-grid, .service-grid, .course-grid, .blog-grid, .about-grid, .contact-grid{
        grid-template-columns: 1fr;
    }
  
    .left--hero{
        order: 2;
    }
    .banner-img{
      width: 25rem;
      height: 30rem;
    }
    .big--heading{
      font-size: 4rem;
      font-weight: 600;
    }
    #productContainer{
      grid-template-columns: repeat(1,1fr);
    }
  
  }